@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.pushStarters_ErrorMessage {
  color: #ff0000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66vh;
  letter-spacing: 0.03333em;
}